services:
  # 1. Zookeeper - Координатор для Kafka
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper-1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  # 2. Kafka - Брокер сообщений
  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka-1
    depends_on:
      - zookeeper
    ports:
      - "${KAFKA_PORT:-9092}:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:${KAFKA_PORT:-9092}
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

  # 3. PostgreSQL - База данных
  postgres:
    image: postgres:13
    container_name: postgres-1
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-admin}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-admin}
      POSTGRES_DB: ${POSTGRES_DB:-streaming_db}
    volumes:
      - ./init_db.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres-data:/var/lib/postgresql/data

  # 4. Flink JobManager
  jobmanager:
    build:
      context: .  
      dockerfile: flink/Dockerfile 
    container_name: jobmanager-1
    ports:
      - "${FLINK_WEB_PORT:-8081}:8081"
    command: jobmanager
    environment:
      FLINK_PROPERTIES: "jobmanager.rpc.address: jobmanager"
    volumes:
      - ./flink/usrlib/flink_job.py:/opt/flink/usrlib/flink_job.py

  # 5. Flink TaskManager
  taskmanager:
    build:
      context: . 
      dockerfile: flink/Dockerfile 
    container_name: taskmanager-1
    depends_on:
      - jobmanager
    command: taskmanager
    scale: 1
    environment:
      FLINK_PROPERTIES: |
        jobmanager.rpc.address: jobmanager
        taskmanager.numberOfTaskSlots: 2
    volumes:
      - ./flink/usrlib/flink_job.py:/opt/flink/usrlib/flink_job.py

  # 6. Superset - Основной сервис визуализации
  superset:
    build:
      context: ./superset 
    container_name: superset-1
    depends_on:
      - postgres
      - superset-init
    ports:
      - "${SUPERSET_PORT:-8088}:8088"
    environment:
      SUPERSET_CONFIG_PATH: "/app/superset_config.py"
      SUPERSET_SECRET_KEY: ${SUPERSET_SECRET_KEY:?Error - SUPERSET_SECRET_KEY is not set}
      SQLALCHEMY_DATABASE_URI: "postgresql+psycopg2://${POSTGRES_USER:-admin}:${POSTGRES_PASSWORD:-admin}@postgres:5432/${POSTGRES_DB:-streaming_db}"
    restart: always
    volumes:
      - superset-data:/app/superset_home

  # 7. Superset-init - Сервис для одноразовой инициализации Superset
  superset-init:
    build:
      context: ./superset 
    container_name: superset-init-1
    command: >
      bash -c "
        sleep 5 &&
        superset db upgrade &&
        superset fab create-admin --username ${POSTGRES_USER:-admin} --firstname Superset --lastname Admin --email admin@superset.com --password ${POSTGRES_PASSWORD:-admin} &&
        superset init
      "
    depends_on:
      - postgres
    environment:
      SUPERSET_CONFIG_PATH: "/app/superset_config.py"
      SUPERSET_SECRET_KEY: ${SUPERSET_SECRET_KEY:?Error - SUPERSET_SECRET_KEY is not set}
      SQLALCHEMY_DATABASE_URI: "postgresql+psycopg2://${POSTGRES_USER:-admin}:${POSTGRES_PASSWORD:-admin}@postgres:5432/${POSTGRES_DB:-streaming_db}"

# Именованные тома для сохранения данных между перезапусками
volumes:
  postgres-data:
  superset-data:
